body {
  overflow-x: hidden;
}

h1{
	background: #305070;
}

nav{
	background: #507070;
	color: white;
}

footer{
	background: #305070;
}

.user-label{/*popisek prihlazeneho uzivatele*/
    position:absolute;
	top:5px;
}

.help{/*kulate tlacitko s otaznikem*/
	font-weight: bold;
	text-decoration: none;
    display:inline-flex;
    align-items: center;
    padding:10px;
	margin:10px;
	border-radius:15px;
    width:30px;
    height:30px;
    background:lightgray;
    position:absolute;
	top:5px;
	left:calc(100vw - 65px);
}
